.header {
  background-color: $color-dark;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;



}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width:$mobile-max) {
    flex-wrap: wrap;
  }

}

.header-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  text-decoration: none;
  color: #fff;


  @media (max-width:$tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width:$mobile-max) {
    font-size: 28px;
    line-height: 38px;
    padding: 16px 0;
  }
}

.menu{
  @media (min-width:$desktop) {
    display: block !important;
  }

  @media (max-width:$mobile-max) {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background-color: $color-dark;
  }
}

.header-nav {
  display: flex;

  @media (max-width:$tablet-max) {
    justify-content: center;
  }

  @media (max-width:$mobile-max) {
    flex-direction: column;
    text-align: center;
  }
}

.header-item {
  list-style-type: none;

  &+.header-item {
    margin-left: 10px;
  }



}

.header-link {
  display: inline-block;
  text-decoration: none;
  padding: 33px 25px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-link:hover {
  background-color: $color-red;
}

.burger {
  display: none;

  @media (max-width:$mobile-max) {
    display: block;
  }
}
