.presentation {
  padding: 130px 0;
}


.presentation-inner {
  @include inner;
}

.presentation-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.presentation-fade {
  padding: 100px 0;

  display: flex;

}

.presentation-fade-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 33%;
  background-color: $color-red;

}

.presentation-btn {
  padding: 30px 80px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}
