.presentation {
  padding: 130px 0;
}


.presentation-inner {
  @include inner;
}

.presentation-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.presentation-fade {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 120px 0;
}


.figure-presentation {
  position: relative;
}

.caption-desc {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 15px 0;
  width: 100%;
  color: #000;
  background-color: rgba(000, 000, 000, .4);
  text-align: center;
}

.figure-link {
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #fff;
}

.figure-link:hover{
  color: $color-red;
}

.presentation-fade-btn {
  margin: 0 auto;
  display: flex;
}
