.promo {
  margin-top: 90px;
  padding: 214px 0;
  background-image: url(/images/promo.jpg);
  background-color: rgba(51, 51, 51, 0.4);
  background-size: cover;
  color: #fff;
  text-align: center;

}

.promo-inner {
  @include inner;
}

.promo-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.promo-ttl {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 100px;

}



.promo-btn {
  border-radius: 8px;
  background-color: $color-red;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 30px 42px;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}
