.promo {
  width: inherit;
  padding: 214px 0;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)), url(/images/promo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  // text-align: center



}

.promo-inner {
  @include inner;
}

.promo-wrap {
  // width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.promo-ttl {
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 100px;


  @media (max-width:$tablet-max) {
    text-align: center;
    font-size: 54px;
    line-height: 74px;

  }


  @media (max-width:$mobile-max) {
    text-align: center;
    font-size: 32px;
    line-height: 44px;
  }

}



.promo-btn {
  border-radius: 8px;
  background-color: $color-red;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 30px 42px;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}
