.promo {
  padding: 200px 0;
  background-image: url(/www/images/promo.jpg);
  // color: #fff;
  text-align: center;
}

.promo-inner {
  @include inner;
}

.promo-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.promo-ttl {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
}

.promo-btn{
  border: 1px solid black;
}
