.purchaise {
  background-color: rgba(51, 51, 51, .1);
  padding-bottom: 120px;
  padding-top: 130px;
}

.purchaise-inner {
  @include inner;
}


.purchaise-title {
  padding-bottom: 40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;


  @media (max-width:$tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width:$mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.purchaise-text {
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;


  @media (max-width:$tablet-max) {
    font-size: 28px;
    line-height: 38px;
  }

  @media (max-width:$mobile-max) {
    font-size: 18px;
    line-height: 25px;
  }
}
